<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/services">{{ "SERVICE.TITLE" | translate }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ "SERVICE.CREATE.ADD_NEW_SERVICE" | translate }}
    </li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">
          {{ "SERVICE.CREATE.ADD_NEW_SERVICE" | translate }}
        </h6>
        <form [formGroup]="form" (ngSubmit)="addService(form.value)">
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="name" class="form-label">{{
                  "SERVICE.NAME" | translate
                }}</label>
                <input
                  id="name"
                  class="form-control"
                  type="text"
                  placeholder="{{ 'SERVICE.ENTER_NAME' | translate }}"
                  [ngClass]="{
                    'is-invalid':
                      name?.invalid && (name?.dirty || name?.touched)
                  }"
                  formControlName="name"
                />
                <div
                  *ngIf="name?.invalid && (name?.dirty || name?.touched)"
                  class="invalid-feedback"
                >
                  <div *ngIf="name?.errors?.['required']">
                    {{ "SERVICE.VALIDATORS.NAME" | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">{{
                  "SERVICE.TYPE_OF_SERVICE" | translate
                }}</label>
                <ng-select
                  [items]="typeOfServices"
                  bindLabel="name"
                  bindValue="id"
                  [multiple]="false"
                  placeholder="{{
                    'SERVICE.ENTER_TYPE_OF_SERVICE' | translate
                  }}"
                  formControlName="typeOfServiceId"
                >
                </ng-select>
                <div
                  *ngIf="
                    typeOfServiceId?.invalid &&
                    (typeOfServiceId?.dirty || typeOfServiceId?.touched)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="typeOfServiceId?.errors?.['required']">
                    {{ "SERVICE.VALIDATORS.TYPE_OF_SERVICE" | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h6 class="card-title">{{ "SERVICE.INPUT_PRICES" | translate }}</h6>
          <div class="row">
            <div class="col-sm-4">
              <div class="mb-3">
                <label for="inputPrice1" class="form-label">{{
                  "SERVICE.PRICE1" | translate
                }}</label>
                <input
                  id="inputPrice1"
                  class="form-control"
                  type="number"
                  name="inputPrice1"
                  formControlName="price1"
                  [ngClass]="{
                    'is-invalid':
                      price1?.invalid && (price1?.dirty || price1?.touched)
                  }"
                />
                <div
                  *ngIf="price1?.invalid && (price1?.dirty || price1?.touched)"
                  class="invalid-feedback"
                >
                  <div *ngIf="price1?.errors?.['required']">
                    {{ "SERVICE.VALIDATORS.PRICE" | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mb-3">
                <label for="inputPrice2" class="form-label">{{
                  "SERVICE.PRICE2" | translate
                }}</label>
                <input
                  type="number"
                  class="form-control"
                  id="inputPrice2"
                  name="inputPrice2"
                  formControlName="price2"
                  [ngClass]="{
                    'is-invalid':
                      price2?.invalid && (price2?.dirty || price2?.touched)
                  }"
                />
                <div
                  *ngIf="price2?.invalid && (price2?.dirty || price2?.touched)"
                  class="invalid-feedback"
                >
                  <div *ngIf="price2?.errors?.['required']">
                    {{ "SERVICE.VALIDATORS.PRICE" | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mb-3">
                <label for="inputPrice3" class="form-label">{{
                  "SERVICE.PRICE3" | translate
                }}</label>
                <input
                  type="number"
                  class="form-control"
                  id="inputPrice3"
                  name="inputPrice3"
                  formControlName="price3"
                  [ngClass]="{
                    'is-invalid':
                      price3?.invalid && (price3?.dirty || price3?.touched)
                  }"
                />
                <div
                  *ngIf="price3?.invalid && (price3?.dirty || price3?.touched)"
                  class="invalid-feedback"
                >
                  <div *ngIf="price3?.errors?.['required']">
                    {{ "SERVICE.VALIDATORS.PRICE" | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="mb-3">
                <label for="inputPrice4" class="form-label">{{
                  "SERVICE.PRICE4" | translate
                }}</label>
                <input
                  type="number"
                  class="form-control"
                  id="inputPrice4"
                  name="inputPrice4"
                  formControlName="price4"
                  [ngClass]="{
                    'is-invalid':
                      price4?.invalid && (price4?.dirty || price4?.touched)
                  }"
                />
                <div
                  *ngIf="price4?.invalid && (price4?.dirty || price4?.touched)"
                  class="invalid-feedback"
                >
                  <div *ngIf="price4?.errors?.['required']">
                    {{ "SERVICE.VALIDATORS.PRICE" | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mb-3">
                <label for="inputPrice5" class="form-label">{{
                  "SERVICE.PRICE5" | translate
                }}</label>
                <input
                  type="number"
                  class="form-control"
                  id="inputPrice5"
                  name="inputPrice5"
                  formControlName="price5"
                  [ngClass]="{
                    'is-invalid':
                      price5?.invalid && (price5?.dirty || price5?.touched)
                  }"
                />
                <div
                  *ngIf="price5?.invalid && (price5?.dirty || price5?.touched)"
                  class="invalid-feedback"
                >
                  <div *ngIf="price5?.errors?.['required']">
                    {{ "SERVICE.VALIDATORS.PRICE" | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mb-3">
                <label for="inputPrice6" class="form-label">{{
                  "SERVICE.PRICE6" | translate
                }}</label>
                <input
                  type="number"
                  class="form-control"
                  id="inputPrice6"
                  name="inputPrice6"
                  formControlName="price6"
                  [ngClass]="{
                    'is-invalid':
                      price6?.invalid && (price6?.dirty || price6?.touched)
                  }"
                />
                <div
                  *ngIf="price6?.invalid && (price6?.dirty || price6?.touched)"
                  class="invalid-feedback"
                >
                  <div *ngIf="price6?.errors?.['required']">
                    {{ "SERVICE.VALIDATORS.PRICE" | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Col -->
          <button
            type="submit"
            class="btn btn-primary submit"
            [disabled]="!form.valid"
          >
            {{ "SERVICE.CREATE.ADD_SERVICE" | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
