<div class="container">
  <img src="../assets/Slike/lahor-logo.png" alt="Lahor logo" class="lahor_logo">
  <button class="home-button" src="../assets/Slike/home-button.png"></button>
  <div class="fizicko-pravno">
      <button class="f-button" disabled>FIZIČKO LICE</button>

      <button class = "p-button" routerLink="/registracija-pravno-lice" routerLinkActive="active">PRAVNO LICE</button>
  </div>

  <form>
    <div class="form-group">
      <div class="in">
        <div class="inputi-1">
          <input type="text"  placeholder="Ime *" id="ime"  name="ime">
          <input type="text"  placeholder="Prezime *" id="prezime" name="prezime">
          <input type="text" placeholder="Datum rođenja *"
                 onfocus="(this.type='date')">
          <select name="Spol" class="spol">
            <option value="" disabled selected>Spol *</option>
            <option value="M">Muški</option>
            <option value="Z">Ženski</option>
          </select>
        </div>
        <div class="inputi-2">
          <input type="email" placeholder="E-mail *" id="email" name="email">
          <input type="text" placeholder="Broj telefona *" id="broj_telefona" name="broj_telefona">
          <input type="text"  placeholder="Adresa stanovanja *" id="adresa" name="adresa">
        </div>
        <div class="inputi-3">
          <input type="text"  placeholder="Korisničko ime *" id="korisnicko_ime" name="korisnicko_ime">
          <input type="password" placeholder="Lozinka *" id="lozinka" name="lozinka">
        </div>
      </div>
      <button type="submit" class="registracija" routerLink="/uspjesna-registracija" routerLinkActive="active">REGISTRUJ SE</button>
    </div>
  </form>



</div>
