<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/news">{{ "NEW.TITLE" | translate }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ "NEW.PREVIEW.TITLE" | translate }}
    </li>
  </ol>
</nav>
<div class="row" style="margin-left: 10%; width: 80%" *ngIf="new != null">
  <img
    [src]="imgUrl"
    style="width: 100%; height: 300px; padding: 0px; aspect-ratio: 1/1"
  />
  <div class="card mt-3" style="width: 100%; border-radius: 0px">
    <div class="card-body">
      <h4>{{ new.name }}</h4>
      <p class="second-txt text-muted tx-12">
        Napisao/la {{ new.user.person.firstName }}
        {{ new.user.person.lastName }} - Objavljeno
        {{ new.createdAt | date : "dd.MM.yyyy hh:mm" }}
      </p>
      <label class="mt-3">{{ new.text }}</label>
    </div>
  </div>
</div>
