<div
  class="d-flex justify-content-between align-items-center flex-wrap grid-margin"
>
  <h4 class="mb-3 mb-md-0">{{ "MENU.DASHBOARD" | translate }}</h4>
</div>

<div class="row" *ngIf="dashboardData != null && (isAdmin || isCompanyOwner)">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">
                {{ "EMPLOYEE.TITLE" | translate }}
              </h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">
                  {{ dashboardData.employeesDashboardData.count }}
                </h3>
                <div class="d-flex align-items-baseline">
                  <p class="text-success">
                    <span
                      >+{{
                        dashboardData.employeesDashboardData.averageEmployees *
                          100
                      }}%</span
                    >
                    <i
                      data-feather="arrow-up"
                      appFeatherIcon
                      class="icon-sm mb-1"
                    ></i>
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <div class="mt-md-3 mt-xl-0">
                  <apx-chart
                    [series]="employeesChartOptions.series"
                    [chart]="employeesChartOptions.chart"
                    [colors]="employeesChartOptions.colors"
                    [xaxis]="employeesChartOptions.xaxis"
                    [stroke]="employeesChartOptions.stroke"
                    [markers]="employeesChartOptions.markers"
                  ></apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">{{ "CLIENT.TITLE" | translate }}</h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">
                  {{ dashboardData.clientsDashboardData.count }}
                </h3>
                <div class="d-flex align-items-baseline">
                  <p class="text-success">
                    <span
                      >+{{
                        dashboardData.clientsDashboardData.averageClients * 100
                      }}%</span
                    >
                    <i
                      data-feather="arrow-up"
                      appFeatherIcon
                      class="icon-sm mb-1"
                    ></i>
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <div class="mt-md-3 mt-xl-0">
                  <apx-chart
                    [series]="clientsChartOptions.series"
                    [chart]="clientsChartOptions.chart"
                    [colors]="clientsChartOptions.colors"
                    [xaxis]="clientsChartOptions.xaxis"
                    [stroke]="clientsChartOptions.stroke"
                    [markers]="clientsChartOptions.markers"
                  ></apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline">
              <h6 class="card-title mb-0">{{ "SERVICE.TITLE" | translate }}</h6>
            </div>
            <div class="row">
              <div class="col-6 col-md-12 col-xl-5">
                <h3 class="mb-2">
                  {{ dashboardData.servicesDashboardData.count }}
                </h3>
                <div class="d-flex align-items-baseline">
                  <p class="text-success">
                    <span
                      >+{{
                        dashboardData.servicesDashboardData.averageServices *
                          100
                      }}%</span
                    >
                    <i
                      data-feather="arrow-up"
                      appFeatherIcon
                      class="icon-sm mb-1"
                    ></i>
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-12 col-xl-7">
                <div class="mt-md-3 mt-xl-0">
                  <apx-chart
                    [series]="servicesChartOptions.series"
                    [chart]="servicesChartOptions.chart"
                    [colors]="servicesChartOptions.colors"
                    [xaxis]="servicesChartOptions.xaxis"
                    [stroke]="servicesChartOptions.stroke"
                    [markers]="servicesChartOptions.markers"
                  ></apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="dashboardData != null">
  <div class="col-lg-12 col-xl-8 stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body">
        <div
          class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3"
        >
          <h6 class="card-title mb-0">
            {{ "NEW.LAST_FIVE_PUBLIC_NEWS" | translate }}
          </h6>
        </div>
        <div class="row align-items-start">
          <div class="flot-wrapper">
            <div class="sliders" type="button">
              <ng-container
                style="width: 100%"
                *ngFor="let new of news; let i = index"
              >
                <div
                  class="slider"
                  (click)="detailNew(new.id)"
                  *ngIf="current == i"
                  @fade
                >
                  <img
                    class="img"
                    [src]="createImageUrl(new.image)"
                    style="aspect-ratio: 1/1"
                  />
                  <p class="second-txt">
                    Dodao/la
                    {{ new.user.person.firstName }}
                    {{ new.user.person.lastName }} - Datum objavljivanja :
                    {{ new.createdAt | date : "dd.MM.yyyy hh:mm" }}
                    <br />
                    <br />
                    {{
                      new.text.length > 200
                        ? (new.text | slice : 0 : 200) + "..."
                        : new.text
                    }}
                  </p>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-lg-5 col-xl-4 grid-margin grid-margin-xl-0 stretch-card"
    *ngIf="isAdmin || isCompanyOwner || isEmployee"
  >
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">
            {{ "NEW.LAST_FIVE_NEWS" | translate }}
          </h6>
        </div>
        <div
          class="d-flex flex-column"
          *ngFor="let new of lastFiveNews; let i = index"
        >
          <a
            (click)="detailNew(new.id)"
            class="d-flex align-items-center border-bottom pb-3 mt-2"
          >
            <div class="w-100">
              <div class="d-flex justify-content-between">
                <h6 class="text-body mb-2">{{ new.name }}</h6>
                <p class="text-muted tx-12">
                  {{ new.createdAt | date : "dd.MM.yyyy hh:mm" }}
                </p>
              </div>
              <p class="text-muted tx-13">
                {{
                  new.text.length > 100
                    ? (new.text | slice : 0 : 100) + "..."
                    : new.text
                }}
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
