<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/news">News</a></li>
    <li class="breadcrumb-item active" aria-current="page">News Add</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Dodavanje nove obavijesti</h6>
        <form [formGroup]="myForm">
          <div class="row">
          <div class="form-check form-switch mb-4 col-sm-12">
            <input type="checkbox" class="form-check-input" id="publicNewSwitch" (change)="onChanged($event)" formControlName="public">
            <label class="form-check-label" for="publicNewSwitch">Javna obavijest</label>
          </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="inputForNewName" class="form-label">Naziv obavijesti</label>
                <div style="display: flex; flex-direction: row;">
                  <p class="text-danger mt-1" style="margin-right: 5px;">*</p>
                  <input id="inputForNewName" class="form-control" type="text" placeholder="Unesite naziv obavijesti" formControlName="name"/>
                </div>
              </div>
            </div><!-- Col -->
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Korisnik</label>
                <input type="text" class="form-control" disabled>
              </div>
            </div><!-- Col -->
          </div><!-- Row -->
          <div class="row">
            <div class="col-sm-12">
              <div class="mb-3">
                <label class="form-label" for="file">Dodaj sliku</label>
                <input class="form-control" type="file" id="file" (change)="onFileSelected($event)" formControlName="file">
              </div>
            </div><!-- Col -->
          </div><!-- Row -->
          <div class="row">
            <div class="col-sm-12">
              <div class="mb-3">
                <p><label class="form-label" for="newText">Tekst</label></p>
                <textarea name="newText" id="newText" placeholder="Unesite tekst obavijesti" style="width: 100%;" rows="10"
                          formControlName="text">
                </textarea>
              </div>
            </div>
          </div>
        </form>
        <button type="submit" class="btn btn-primary submit" (click)="addNew()">Dodaj obavijest</button>
      </div>
    </div>
  </div>
</div>
