<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Naruždba</h6>
        <form>
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Naziv</label>
                <input type="text" id="inputName" name="inputName" [(ngModel)]="order.name" class="form-control"  placeholder="Unesite naziv narudžbe">
              </div>

            </div><!-- Col -->
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Klijent</label>
                <ng-select [items]="clients"
                           bindLabel="email"
                           bindValue="id"
                           [multiple]="false"
                           placeholder="type to search"
                           [(ngModel)]="selectedClientId"
                           (change)="changeClient($event)"
                           name="client">
                </ng-select>
              </div>
            </div>


          </div><!-- Row -->
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Opis</label>
                <input type="text" id="inputDescription" [(ngModel)]="order.description" name="inputDescription" class="form-control"  placeholder="Unesite opis">
              </div>

            </div><!-- Col -->
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Ime klijenta</label>
                <input type="text" id="inputUserName" [(ngModel)]="order.clientName" name="inputUserName" class="form-control"  placeholder="Ime klijenta" readonly>
              </div>

            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="inputDate"class="form-label">Datum kupovine</label>
                  <input type="text" name="inputDate" id="inputDate" class="form-control" placeholder="Nije isporučena narudžba" disabled value="{{order.deliveryDate | date:'dd.MM.yyyy hh:mm'}}">
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-sm-6">
                <div class="form-check mb-2">
                  <input type="checkbox" class="form-check-input" id="checkDefault" name="checkDefault"
                         (change)="onChanged($event)"
                         [(ngModel)]="order.delivered"
                         [checked]="order.delivered">
                  <label class="form-check-label" for="checkDefault">Kompletirana</label>
                </div>

              </div>
            </div>

          </div><!-- Row -->
        </form>
        <button type="button" class="btn btn-primary submit" (click)="editOrder()">Dodaj narudžbu</button>
      </div>
    </div>
  </div>
</div>
