<div class="page">
  <div style="display: flex; flex-direction: row">

    <button class="btn btn-primary" routerLink="/dodajIzvjestaj" style="width: 10%; height: 40px;">Kreiraj izvještaj</button>
    <div class="mb-3" style="width:70%; margin-left:20%;">
      <label class="form-label">Unesite naslov za pretragu</label>
      <input type="text" class="form-control" [(ngModel)]="naslovPretraga" (input)="filterNaslov()" placeholder="Naslov">
    </div>
    </div>
  <table class="table table-striped">
    <tr>
      <th>Rb</th>
      <th>Oznaka</th>
      <th (click)="sort('datumKreiranja')">Datum kreiranja&nbsp;<i class="fa fa-sort"></i></th>
      <th>Vrsta izvještaja</th>
      <!--<th>Datum modifikovanja</th>-->
      <th>Autor</th>
      <th>Akcija</th>
    </tr>
    <tbody>
    <tr *ngFor="let i of filterIzvjestaji | orderBy:key:reverse | paginate: {itemsPerPage:10,currentPage:p}; let index=index">
      <td>{{index+1}}</td>
      <td>{{i.oznaka}}</td>
      <td>{{i.datumKreiranja}}</td>
      <td>{{i.nazivVrsteIzvjestaja}}</td>
      <td>{{i.autorNaziv}}</td>
      <td>
        <button type="button" class="btn btn-danger" *ngIf="loginInfo().role=='UpravnoOsoblje'" (click)="obrisi(i)">Obrisi</button>
        <button type="button" class="btn btn-info" *ngIf="loginInfo().role=='Klijent' || loginInfo().role==
            'UpravnoOsoblje'" (click)="detalji(i.id)">Detalji</button>
      </td>
    </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </table>
</div>
<!--<app-pregled-izvjestaja [id]= "id"></app-pregled-izvjestaja>-->

