<div class="container">
  <img src="../assets/Slike/lahor-logo.png" alt="Lahor logo" class="lahor_logo">
  <a href="/"><img class="home-button" src="../assets/Slike/home-button.png"></a>
  <div class="fizicko-pravno">
    <button class="f-button" routerLink="/registracija-fizicko-lice" routerLinkActive="active">FIZIČKO LICE</button>

    <button class = "p-button" disabled>PRAVNO LICE</button>
  </div>

  <form>
    <div class="form-group">
      <div class="in">
        <div class="inputi-1">
          <input type="text"  placeholder="Naziv firme *" id="nazivFirme"  name="nazivFirme">
          <input type="text"  placeholder="ID Broj firme *" id="idBrojFirme" name="idBrojFirme">
        </div>
        <div class="inputi-2">
          <input type="email" placeholder="E-mail *" id="email" name="email">
          <input type="text" placeholder="Broj telefona *" id="broj_telefona" name="broj_telefona">
          <input type="text"  placeholder="Adresa *" id="adresa" name="adresa">
        </div>
        <div class="inputi-3">
          <input type="text"  placeholder="Korisničko ime *" id="korisnicko_ime" name="korisnicko_ime">
          <input type="password" placeholder="Lozinka *" id="lozinka" name="lozinka">
        </div>
      </div>
      <button type="submit" class="registracija" routerLink="/uspjesna-registracija" routerLinkActive="active">REGISTRUJ SE</button>
    </div>
  </form>



</div>
