<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Nivo izvršenja usluge</h6>
        <form>
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Naziv</label>
                <input type="text" id="inputName" name="inputName" class="form-control" [(ngModel)]="levelOfServiceExecution.name" placeholder="Unesite naziv nivoa usluge">
              </div>
            </div><!-- Col -->

          </div><!-- Row -->
        </form>
        <button type="button" class="btn btn-primary submit" (click)="addLevelOfServiceExecution()">Dodaj nivo izvršenja</button>
      </div>
    </div>
  </div>
</div>
