<nav class="navbar">
  <a href="" class="sidebar-toggler" (click)="toggleSidebar($event)">
    <i class="feather icon-menu"></i>
  </a>
  <div class="navbar-content">
    <form class="search-form">
      <div class="input-group">
        <div class="input-group-text">
          <i class="feather icon-search"></i>
        </div>
        <input
          type="text"
          class="form-control"
          id="navbarForm"
          placeholder="Search here..."
        />
      </div>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item" ngbDropdown>
        <a
          class="nav-link"
          ngbDropdownToggle
          id="languageDropdown"
          role="button"
        >
          <img [src]="language.flag" class="wd-20 me-1" title="bs" alt="bs" />
          <span class="fw-bold ms-1 me-1 d-none d-md-inline-block">
            {{ language.name | translate }}
          </span>
        </a>
        <div ngbDropdownMenu aria-labelledby="languageDropdown">
          <a ngbDropdownItem class="py-2" (click)="selectLanguage('bs')">
            <img [src]="langs[0].flag" class="wd-20 me-1" title="bs" alt="bs" />
            <span class="ms-1"> {{ "LANGUAGE.BOSNIAN" | translate }} </span></a
          >
          <a ngbDropdownItem class="py-2" (click)="selectLanguage('en')">
            <img [src]="langs[1].flag" class="wd-20 me-1" title="us" alt="us" />
            <span class="ms-1"> {{ "LANGUAGE.ENGLISH" | translate }} </span></a
          >
          <a ngbDropdownItem class="py-2" (click)="selectLanguage('de')">
            <img [src]="langs[2].flag" class="wd-20 me-1" title="de" alt="de" />
            <span class="ms-1"> {{ "LANGUAGE.GERMAN" | translate }} </span></a
          >
          <a ngbDropdownItem class="py-2" (click)="selectLanguage('es')">
            <img [src]="langs[3].flag" class="wd-20 me-1" title="es" alt="es" />
            <span class="ms-1"> {{ "LANGUAGE.SPANISH" | translate }} </span></a
          >
          <a ngbDropdownItem class="py-2" (click)="selectLanguage('fr')">
            <img [src]="langs[4].flag" class="wd-20 me-1" title="fr" alt="fr" />
            <span class="ms-1"> {{ "LANGUAGE.FRANCE" | translate }} </span></a
          >
        </div>
      </li>
      <li class="nav-item nav-apps" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle id="appsDropdown">
          <i class="link-icon feather icon-grid"></i>
        </a>
        <div ngbDropdownMenu class="px-0" aria-labelledby="appsDropdown">
          <div
            class="px-3 py-2 d-flex align-items-center justify-content-between border-bottom"
          >
            <p class="mb-0 fw-bold">{{ "MENU.TITLE" | translate }}</p>
          </div>
          <div class="row g-0 p-1">
            <div
              class="col-3 text-center"
              *ngIf="isAdmin || isCompanyOwner || isEmployee"
            >
              <a
                routerLink="/services"
                class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70"
                ><i class="feather icon-shopping-cart icon-lg mb-1"></i>
                <p class="tx-12">{{ "SERVICE.TITLE" | translate }}</p></a
              >
            </div>
            <div class="col-3 text-center">
              <a
                routerLink="/price-list-preview"
                class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70"
                ><i class="feather icon-book-open icon-lg mb-1"></i>
                <p class="tx-12">{{ "PRICE_LIST.TITLE" | translate }}</p></a
              >
            </div>
            <div class="col-3 text-center" *ngIf="isAdmin || isCompanyOwner">
              <a
                routerLink="/employees"
                class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70"
                ><i class="feather icon-users icon-lg mb-1"></i>
                <p class="tx-12">{{ "EMPLOYEE.TITLE" | translate }}</p></a
              >
            </div>
            <div
              class="col-3 text-center"
              *ngIf="isAdmin || isCompanyOwner || isEmployee"
            >
              <a
                routerLink="/clients"
                class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70"
                ><i class="feather icon-users icon-lg mb-1"></i>
                <p class="tx-12">{{ "CLIENT.TITLE" | translate }}</p></a
              >
            </div>
          </div>
          <div
            class="px-3 py-2 d-flex align-items-center justify-content-center border-top"
          ></div>
        </div>
      </li>
      <li class="nav-item nav-messages" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle id="messageDropdown">
          <i class="link-icon feather icon-mail"></i>
        </a>
        <div ngbDropdownMenu class="px-0" aria-labelledby="messageDropdown">
          <div
            class="px-4 py-2 d-flex align-items-center justify-content-between border-bottom"
          >
            <p style="margin-right: 10px">
              {{ "SHARED.NEW_MESSAGES" | translate }}
            </p>
            <a href="" (click)="(false)" class="text-muted">{{
              "SHARED.CLEAR_ALL" | translate
            }}</a>
          </div>
          <div
            class="px-3 py-2 d-flex align-items-center justify-content-center border-top"
          >
            <a href="" (click)="(false)">{{ "SHARED.VIEW_ALL" | translate }}</a>
          </div>
        </div>
      </li>
      <li
        class="nav-item nav-notifications"
        ngbDropdown
        *ngIf="isAdmin || isCompanyOwner || isEmployee"
      >
        <a class="nav-link" ngbDropdownToggle id="notificationDropdown">
          <i class="link-icon feather icon-bell"></i>
          <div class="indicator" *ngIf="signalRService.hasUnreadNotifications">
            <div class="circle"></div>
          </div>
        </a>
        <div
          ngbDropdownMenu
          class="px-0"
          aria-labelledby="notificationDropdown"
        >
          <div
            class="px-4 py-2 d-flex align-items-center justify-content-between border-bottom"
          >
            <p style="margin-right: 10px">
              {{ "SHARED.NEW_NOTIFICATIONS" | translate }}
            </p>
            <a (click)="markAllNotificationAsRead()" class="text-muted">{{
              "SHARED.CLEAR_ALL" | translate
            }}</a>
          </div>
          <div
            class="p-1"
            *ngFor="let notification of signalRService.unreadNotifications"
          >
            <a
              href=""
              (click)="(false)"
              class="dropdown-item d-flex align-items-center py-2"
            >
              <div
                class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3"
              >
                <i class="feather icon-gift icon-sm text-white"></i>
              </div>
              <div class="flex-grow-1 me-2">
                <p>{{ notification.text }}</p>
                <p class="tx-12 text-muted">
                  {{ notification.createdAt | date : "dd.MM.yyyy hh:mm" }}
                </p>
              </div>
            </a>
          </div>
          <div
            class="px-3 py-2 d-flex align-items-center justify-content-center border-top"
          ></div>
        </div>
      </li>
      <li class="nav-item nav-profile" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle id="profileDropdown">
          <img class="wd-30 ht-30 rounded-circle" [src]="profilePhoto" alt="" />
        </a>
        <div ngbDropdownMenu class="px-0" aria-labelledby="profileDropdown">
          <div
            class="d-flex flex-column align-items-center border-bottom px-5 py-3"
          >
            <div class="mb-3">
              <img
                class="wd-80 ht-80 rounded-circle"
                [src]="profilePhoto"
                alt=""
              />
            </div>
            <div class="text-center">
              <p class="tx-16 fw-bolder">{{ userName }}</p>
              <p class="tx-12 text-muted">{{ email }}</p>
            </div>
          </div>
          <ul class="list-unstyled p-1">
            <li class="dropdown-item py-2">
              <a routerLink="/profile" class="d-flex text-body ms-0">
                <i class="feather icon-user me-2 icon-md"></i>
                <span>{{ "PROFILE.TITLE" | translate }}</span>
              </a>
            </li>
            <li class="dropdown-item py-2">
              <a
                href=""
                (click)="onLogout($event)"
                class="d-flex text-body ms-0"
              >
                <i class="feather icon-log-out me-2 icon-md"></i>
                <span>{{ "SHARED.LOG_OUT" | translate }}</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
