<div class="sidebar-container">
  <div class="sidebar-logo">
    Lahor Web App
  </div>
  <ul class="sidebar-navigation">
    <li class="header">MAIN MENU</li>
    <li>
      <a>
        <i class="nav-link" aria-hidden="true" (click)="prikazObavijesti()"> POČETNA</i>
      </a>
    </li>

    <li>
      <a href="#">
        <i class="fa fa-tachometer" aria-hidden="true"></i> NARUDŽBE

      </a>
    </li>
    <li class="header">Another Menu</li>
    <li>
      <a href="#">
        <i class="fa fa-users" aria-hidden="true"></i> IZVJEŠTAJI
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-cog" aria-hidden="true"></i> POSTAVKE
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa fa-cog" aria-hidden="true" (click)="OnLogOut()">  LOG OUT</i>
      </a>
    </li>
  </ul>
</div>
  <router-outlet></router-outlet>

<div class="content-container">
</div>


