<div class="main" style="display: flex; flex-direction: column;">
<div  style="display: flex; flex-direction: row">
  <form class="container">
    <div class="form-group">
      <label class="form-label">Vrsta izvještaja</label>
      <br/>
      <select class="cmb" [(ngModel)]="odabranaVrstaIzvjestaja" (ngModelChange)='onSelectedVrsta($event)' [ngModelOptions]="{standalone:true}">
        <option *ngFor="let vi of vrsteIzvjestaja" [value]="vi.id">{{vi.naziv}}</option>
      </select>
    </div>
    <br/>
    <div class="cmb" *ngIf="odabranaVrstaNaziv=='Dnevni'">
        <label class="form-label">Datum Kreiranja</label>
        <input type="Date" value="" class="form-control"[(ngModel)]="odabraniDatum" (ngModelChange)='onSelectedDatum($event)' [ngModelOptions]="{standalone:true}">
      </div>
  <div *ngIf="odabranaVrstaNaziv=='Sedmični'" style=" width:90%; display: flex; flex-direction: row">
    <div style="width: 50%;">
      <label class="form-label">Datum OD</label>
      <input type="Date" class="form-control" [(ngModel)]="odabraniDatumOD" (ngModelChange)='onSelectedDatumOD($event)' [ngModelOptions]="{standalone:true}">
    </div>
    <div style="width: 50%;">
      <label class="form-label">Datum DO</label>
      <input type="Date" class="form-control" [(ngModel)]="odabraniDatumDO" (ngModelChange)='onSelectedDatumDO($event)' [ngModelOptions]="{standalone:true}">
    </div>
    </div>
    <div class="cmb" *ngIf="odabranaVrstaNaziv=='Mjesečni'">
      <label class="form-label">Odaberite mjesec</label>
      <input type="Date" class="form-control" [(ngModel)]="odabraniDatumMjesec" (ngModelChange)='onSelectedDatumMjesec($event)' [ngModelOptions]="{standalone:true}">
    </div>
    <br>
    <button type="submit" class="btn btn-primary" (click)="dodajIzvjestaj()">Dodaj</button>
  </form>
</div>
  <br>
  <div style="width: 80%; margin-left:10%;">
    <table class="table table-striped">
      <tr>
        <th>Rb</th>
        <th>Oznaka</th>
        <th>UkupnaCijena</th>
        <th>Akcija</th>
      </tr>
      <tbody>
      <tr *ngFor="let n of listaNarudzbe; let i=index">
        <td>{{i+1}}</td>
        <td>{{n.naziv}}</td>
        <td>{{n.ukupnaCijena}}</td>
        <td>
          <button type="button" class="btn btn-danger" *ngIf="loginInfo().role=='UpravnoOsoblje'" (click)="obrisi(n)">Obrisi</button>
          <button type="button" class="btn btn-info" *ngIf="loginInfo().role=='UpravnoOsoblje' || loginInfo().role=='Uposlenik'" (click)="detalji(n)">Detalji</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
