<div class="page">

  <button class="btn btn-primary" routerLink="/dodavanjeOnlineNarudzbe">Kreiraj narudžbu</button>
  <table class="table table-striped">
    <tr>
      <th>Rb</th>
      <th> <th (click)="sort('datumKreiranja')">Datum kreiranja&nbsp;<i class="fa fa-sort"></i></th>
      <th>Datum isporuke</th>
      <th>Kolicina</th>
      <th>Cijena</th>
      <th>Akcija</th>
    </tr>
    <tbody>
    <tr *ngFor="let o of OnlineNarudzbeList | orderBy:key:reverse | paginate: {itemsPerPage:10,currentPage:p};">
      <td>{{o.naslov}}</td>
      <td>{{o.autorId}}</td>
      <td>{{o.javnaObavijest}}</td>
      <td>{{o.datumKreiranja}}</td>
      <td>
        <button type="button" class="btn btn-danger" *ngIf="loginInfo().role=='UpravnoOsoblje'" (click)="obrisi(o)">Obrisi</button>
        <button type="button" class="btn btn-info" *ngIf="loginInfo().role=='UpravnoOsoblje'" (click)="detalji(o)">Detalji</button>
      </td>
    </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </table>
</div>
