<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Devices</li>
  </ol>
</nav>   ----------

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <h6 class="card-title col-sm-10">Uređaji</h6>
          <div class="col-sm-2">
            <button type="button" class="btn btn-primary btn-icon-text" (click)="addDevice()">
              <i class="feather icon-check-square btn-icon-prepend"></i>
              Dodaj uređaj
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th id=deviceBrand.Name (click)="sortData($event)">BRAND <i class="feather icon-chevron-up"></i></th>
              <th id="name" (click)="sortData($event)">MODEL</th>
              <th id="deviceType.Name" (click)="sortData($event)">VRSTA UREĐAJA</th>
              <th id="description" >OPIS</th>
              <th id="capacity" (click)="sortData($event)" >KAPACITET</th>
              <th id="serviceDate" (click)="sortData($event)">DATUM SERVISIRANJA</th>
              <th>SERVICES</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let device of devices$|async">
              <th>{{device.deviceBrand.name}}</th>
              <td>{{device.name}}</td>
              <td>{{device.deviceType.name}}</td>
              <td>{{device.description}}</td>
              <td>{{device.capacity}}</td>
              <td>{{device.serviceDate | date:'dd.MM.yyyy hh:mm'}}</td>
              <td>
                <i type="button" class="feather icon-edit" (click)="editDevice(device)"></i>
                <i type="button" class="feather icon-delete" (click)="openBasicModal(basicModal, device)" ></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #basicModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Brisanje usluge</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p>Da li ste sigurni da želite obrisati uređaj?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
    <button type="button" class="btn btn-primary" (click)="deleteDevice(modal)" [swal]="{ toast: true, position: 'top-end', showConfirmButton: false, timer: 50000, timerProgressBar: true, title: 'Successfully deleted', icon: 'success'}">Da</button>
  </div>
</ng-template>

