<div class="row w-100 mx-0 auth-page">
  <div class="col-md-6 col-xl-5 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-12 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2"
              >Lahor<span>App</span></a
            >
            <h5 class="text-muted fw-normal mb-4">
              Dobrodošli nazad! Prijavite se na vaš račun.
            </h5>
            <div
              *ngIf="isIncorrectAccessData == true"
              class="alert alert-danger"
            >
              Pristupni podaci nisu validni
            </div>
            <form (ngSubmit)="signIn(form.value)" [formGroup]="form">
              <div class="mb-3">
                <label for="userName" class="form-label"
                  >Korisničko ime ili email</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="userName"
                  placeholder="User name"
                  formControlName="userName"
                  [ngClass]="{
                    'is-invalid': isFormSubmited && formControls.userName.errors
                  }"
                />
                <div
                  *ngIf="
                    isFormSubmited && formControls.userName.errors?.required
                  "
                  class="invalid-feedback"
                >
                  Korisničko ime je obavezno
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Šifra</label>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid': isFormSubmited && formControls.password.errors
                  }"
                />
                <div
                  *ngIf="
                    isFormSubmited && formControls.password.errors?.required
                  "
                  class="invalid-feedback"
                >
                  Šifra je obavezna
                </div>
              </div>
              <div class="form-check mb-3">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="authCheck"
                />
                <label class="form-check-label" for="authCheck">
                  Zapamti me
                </label>
              </div>
              <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0">
                  Prijavi se
                </button>
              </div>
              <a routerLink="/auth/register" class="d-block mt-3 text-muted"
                >Nemate račun? Kreiraj račun</a
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
