<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/services">Services</a></li>
    <li class="breadcrumb-item active" aria-current="page">Service Add</li>
  </ol>
</nav>
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Editovanje usluge</h6>
        <form>
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="inputForServiceName" class="form-label">Naziv usluge</label>
                <div style="display: flex; flex-direction: row;">
                  <p class="text-danger mt-1" style="margin-right: 5px;" *ngIf="requried?.errors?.required">*</p>
                  <input id="inputForServiceName" class="form-control" type="text" [(ngModel)]="service.name" placeholder="Unesite naziv usluge" ngModel name="requried" #requried="ngModel" required/>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label">Tip usluge</label>
                <ng-select [items]="typeOfServices"
                           bindLabel="name"
                           bindValue="id"
                           placeholder="type to search"
                           [(ngModel)]="service.typeOfServiceId"
                           [ngModelOptions]="{standalone:true}"
                           (change)="changeTypeOfService($event)">
                </ng-select>
              </div>
            </div>
          </div>
          <h6 class="card-title">Unos cijena usluge</h6>
          <div class="row">
            <div class="col-sm-4">
              <div class="mb-3">
                <label for="inputPrice1" class="form-label">Pranje</label>
                <input id="inputPrice1" class="form-control" type="number" [(ngModel)]="service.price1" name="inputPrice1" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mb-3">
                <label for="inputPrice2" class="form-label">Sušenje</label>
                <input type="number" class="form-control" id="inputPrice2" [(ngModel)]="service.price2" name="inputPrice2">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mb-3">
                <label for="inputPrice3" class="form-label">Peglanje</label>
                <input type="number" class="form-control" id="inputPrice3" [(ngModel)]="service.price3" name="inputPrice3">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="mb-3">
                <label for="inputPrice4" class="form-label">Pranje,sušenje</label>
                <input type="number" class="form-control" id="inputPrice4" [(ngModel)]="service.price4" name="inputPrice4">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mb-3">
                <label for="inputPrice5" class="form-label">Sušenje,peglanje</label>
                <input type="number" class="form-control" id="inputPrice5" [(ngModel)]="service.price5" name="inputPrice5">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mb-3">
                <label for="inputPrice6" class="form-label">Pranje,sušenje,peglanje</label>
                <input type="number" class="form-control" id="inputPrice6" [(ngModel)]="service.price6" name="inputPrice6">
              </div>
            </div>
          </div>
          <!-- Col -->
        </form>
        <button type="submit" class="btn btn-primary submit" (click)="updateService()">Spasi promjene</button>
      </div>
    </div>
  </div>
</div>

