<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/news">News</a></li>
    <li class="breadcrumb-item active" aria-current="page">News Edit</li>
  </ol>
</nav>
<div class="row" *ngIf="form != null">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">
          {{ "NEW.EDIT.NEW_TITLE" | translate }}
        </h6>
        <form [formGroup]="form">
          <div class="row"></div>
          <div class="row" style="justify-content: space-between">
            <div class="col-sm-8">
              <div class="mb-3">
                <div class="form-check form-switch">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="publicNewSwitch"
                    (change)="onChanged($event)"
                    formControlName="public"
                  />
                  <label
                    class="form-check-label font-bold"
                    for="publicNewSwitch"
                    >{{ "NEW.PUBLIC" | translate }}</label
                  >
                </div>
              </div>
              <div class="mb-3">
                <label for="inputForNewName" class="form-label font-bold">{{
                  "NEW.NAME" | translate
                }}</label>
                <span class="warning">*</span>
                <input
                  id="inputForNewName"
                  class="form-control"
                  type="text"
                  placeholder="{{ 'NEW.ENTER_NAME' | translate }}"
                  formControlName="name"
                  required
                />
                <div
                  *ngIf="name?.invalid && (name?.dirty || name?.touched)"
                  class="alert alert-danger"
                >
                  <div *ngIf="name?.errors?.['required']">
                    Naziv je obavezan.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label font-bold" for="text">{{
                  "NEW.TEXT" | translate
                }}</label>
                <span class="warning">*</span>
                <textarea
                  name="text"
                  id="newText"
                  placeholder="{{ 'NEW.ENTER_TEXT' | translate }}"
                  style="width: 100%; border-radius: 5px"
                  rows="15"
                  formControlName="text"
                >
                </textarea>
                <div
                  *ngIf="text?.invalid && (text?.dirty || text?.touched)"
                  class="alert alert-danger"
                >
                  <div *ngIf="text?.errors?.['required']">
                    Tekst je obavezan.
                  </div>
                </div>
              </div>
            </div>
            <!-- Col -->
            <div class="col-sm-4" style="margin-right: 0px">
              <div class="mb-3">
                <label class="form-label font-bold" for="file">{{
                  "NEW.IMAGE" | translate
                }}</label>
                <input
                  class="form-control"
                  type="file"
                  id="file"
                  #file
                  (change)="onFileSelected($event)"
                  formControlName="file"
                  style="display: none"
                />
                <img
                  [src]="imgUrl"
                  style="
                    border: 1px solid black;
                    border-radius: 5px;
                    width: 100%;
                    height: 390px;
                    aspect-ratio: 1/1;
                  "
                />
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="file.click()"
                  style="margin-top: 10px; width: 100%"
                >
                  {{ "NEW.ADD_IMAGE" | translate }}
                </button>
              </div>
            </div>
            <!-- Col -->
          </div>
          <!-- Row -->
          <div class="row">
            <div class="col-sm-12"></div>
            <!-- Col -->
          </div>
          <!-- Row -->
          <div class="row">
            <div class="col-sm-12"></div>
          </div>
        </form>
        <button
          type="submit"
          (click)="updateNew()"
          class="btn btn-primary submit"
          [disabled]="form.invalid"
        >
          Spasi promjene
        </button>
      </div>
    </div>
  </div>
</div>
