<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item href="#" class="stavka"><img class="ikona" src="../assets/Slike/Ikonice/pocetna.png" alt="">POČETNA</a>
      <a mat-list-item href="#" class="stavka"><img class="ikona" src="../assets/Slike/Ikonice/obavijesti.png" alt="">OBAVIJESTI</a>
      <a mat-list-item href="#" class="stavka"><img class="ikona" src="../assets/Slike/Ikonice/cjenovnik.png" alt="">CJENOVNIK</a>
      <a mat-list-item href="#" class="stavka"><img class="ikona" src="../assets/Slike/Ikonice/narudzbe.png" alt="">NARUDŽBE</a>
      <a mat-list-item href="#" class="stavka"><img class="ikona" src="../assets/Slike/Ikonice/narudzbe.png" alt="">KREIRAJ NARUDŽBU</a>
      <a mat-list-item href="#" class="stavka"><img class="ikona" src="../assets/Slike/Ikonice/materijali.png" alt="">MATERIJALI</a>
      <a mat-list-item href="#" class="stavka"><img class="ikona" src="../assets/Slike/Ikonice/troskovi.png" alt="">TROŠKOVI</a>
      <a mat-list-item href="#" class="stavka"><img class="ikona" src="../assets/Slike/Ikonice/statistika.png" alt="">STATISTIKA</a>
      <a mat-list-item href="#" class="stavka"><img class="ikona" src="../assets/Slike/Ikonice/obracuni.png" alt="">OBRAČUNI</a>
      <a mat-list-item href="#" class="stavka"><img class="ikona" src="../assets/Slike/Ikonice/uposleni.png" alt="">UPOSLENI</a>
      <a mat-list-item href="#" class="stavka"><img class="ikona" src="../assets/Slike/Ikonice/klijenti.png" alt="">KLIJENTI</a>
      <a mat-list-item href="#" class="stavka"><img class="ikona" src="../assets/Slike/Ikonice/postavke_profila.png" alt="">POSTAVKE PROFILA</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
