*{
  margin: 0;
  padding: 0;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
a{
  color: black;
  font-size: 12px;
  text-align: left;
}
mat-drawer-content mat-sidenav-content{
  margin: 0;
}
mat-nav-list{
  background-color: #28A9E1;
  min-height: 100%;
}
.stavka:hover{
  background-color: #2FC3EA;
  border-radius: 10px;
}
.ikona{
  height: 30px;
  width: 30px;
  margin-right: auto;
  margin-left: auto;
}

