<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Login</h1>
    <div class="content">
      <div class="input-field">
        <input type="text" placeholder="UserName" formControlName="username" autocomplete="nope">
      </div>
      <div class="input-field">
        <input type="password" placeholder="Password" formControlName="password" autocomplete="new-password">
      </div>
      <a href="#" class="link">Forgot Your Password?</a>
    </div>
    <div class="action">
      <button routerLink="/registracija-fizicko-lice" routerLinkActive="active">Register</button>
      <button type="submit" [disabled]="!loginForm.valid">Sign in</button>
    </div>
  </form>
</div>


